<div class="container my-3">
<h1>My tasks</h1>

<form action="/list">

<% @tasks.each do |task| %>
  <div class="d-flex align-items-center mb-2 border">
      <label>
      <%= check_box_tag "task_ids[]", task.id, task.completed, id: "task_#{task.id}_completed" %>
        <%= link_to task.title, find_path(task) %>
      </label>

      <%= link_to "ðŸ—‘ï¸", find_path(task), data: {turbo_method: "delete"} %>

  </div>
<% end %>
</form>

<%= link_to "Create New Task", new_task_path %>

</div>
